.headerTitle {
  color: #0833f3;
  float: left;
  padding-left: 40px;
  font-weight: bold;
}

.helpButton {
  float: right;
  margin-right: 40px !important;
  color: #ffffff !important; 
  background-color: #0833f3 !important; 
  width: 100px;
  font-weight: bold !important;
}