.card-body {
  padding: 0.8rem 1rem 0.2rem 1rem !important;
}

.card-body :hover {
  cursor: pointer;
}

.card-container-co {
  border-radius: 10px;
  border-color: #0080FF;
  margin-right: 0.5rem;
  margin-top: 1rem;
  width: 21rem;
}

.card-data-container {
  line-height: 0;
}

.card-data-container p{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: 5px 0;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.card-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  min-height: 50px;
}

.card-image-co {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}

.card-title {
  margin: 0;
}
