.headerTitle {
  color: #0833f3;
  float: left;
  padding-left: 40px;
  font-weight: bold;
}

.helpButton {
  float: right;
  margin-right: 40px !important;
  color: #ffffff !important; 
  background-color: #0833f3 !important; 
  width: 100px;
  font-weight: bold !important;
}

.link-container {
  align-items: flex-end;
  flex-direction: column;
}

.link-container .nav-link {
  color: #0080FF !important;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;

}