@import '../../variables.scss';

.headerTitle {
  color: #0833f3;
  float: left;
  padding-left: 40px;
  font-weight: bold;
}

#header-logo {
  font-size: 30px;
}

.actionButton {
  float: right;
  margin-right: 40px !important;
  color: #ffffff !important; 
  font-weight: bold !important;
  min-width: 250px;
}

.emergencyButton {
  background-color: #FF6866 !important;
}

.requestButton {
  background-color: $main_color !important;
}

.link-container {
  align-items: flex-end;
  flex-direction: column;
}

.link-container .nav-link {
  font-family: $plex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1F5A66 !important;
}

.link-container .nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

