@import url('https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@import './variables.scss';

p, h1, h2, h3, h4, a, li, button, option, select, input {
    color: $main_color;
    font-family: 'Spectral', serif;
}

h5, h6 {
  color: $info_color;
  font-family: 'Spectral', serif;
}

.breadcrumb {
    background: none;
    padding-left: 0;
}

.btn-main-action {
    background: $main_orange;
    color: white !important;
}

.form-input, select{
    padding-left: 10px;
    margin-top: 0px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #A3C5CC;
    box-sizing: border-box;
    height: 60px;
}

.logo-font {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 64px;
    letter-spacing: -0.02em;
}